@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
    html, body {
        font-family: "Manrope", sans-serif;
    }

    :root, [data-theme="azure"] {
        --color-primary: #0A2540;
        --color-primary-content: #ffffff;
        --color-secondary: #00D1FF;
        --color-secondary-content: #005266;
        --color-accent: #00ccf9;
        --color-accent-content: #005266;
        --color-neutral: #637381;
        --color-neutral-content: #ffffff;
        --color-base-100: #ffffff;
        --color-base-200: #F8FAFC;
        --color-base-300: #eceef0;
        --color-base-content: #191c1e;
        --color-info: #b7eaff;
        --color-success: #16a34a;
        --color-warning: #eab308;
        --color-error: #ba1a1a;
        --color-error-content: #ffffff;

        --rounded-box: 16rem; /* 16px (bisa juga ditulis 1rem jika Tailwind mendeteksi rem) */
        --rounded-btn: 8px;
        --rounded-badge: 4px;
        --radius-selector: 2rem;
        --radius-field: 4px;
        --radius-box: 0.5rem;
    }
}